# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vite
.env
.vercel
public/imgur
ticktick-2.0-web.code-workspace
src/assets/fonts/*
!src/assets/fonts/BF_Modernista/
!src/assets/fonts/Mozilla_Headline/
!src/assets/fonts/Mozilla_Headline/**
!src/assets/fonts/Mozilla_Text/
!src/assets/fonts/Mozilla_Text/**
!src/assets/fonts/Mozilla_Text/
!src/assets/fonts/Kirsty/**
!src/assets/fonts/Kirsty/
!src/assets/fonts/Jost/**
!src/assets/fonts/Jost/