/* === Kirsty Font Styles === */
@font-face {
  font-family: 'Kirsty';
  src: url('../assets/fonts/Kirsty/Kirsty Bd.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Kirsty';
  src: url('../assets/fonts/Kirsty/Kirsty Bd It.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Kirsty';
  src: url('../assets/fonts/Kirsty/Kirsty Rg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kirsty';
  src: url('../assets/fonts/Kirsty/Kirsty Rg It.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
